A continuación se importan los módulos a utilizar.

In [1]:
import pandas as pd
import time

Se crea una lista con letras arbitrarias y a partir de esta se crea un *dataframe*.

In [2]:
list_a = ["a", "b", "c", "d"]

# Creamos un dataframe a partir de una lista.
df = pd.DataFrame(list_a, columns=["Value A"])
df

  Value A
0       a
1       b
2       c
3       d

Se crea otra lista con números arbitrarios y estos se añaden como una nueva columna al *dataframe* creado en la celda anterior.

In [3]:
list_b = [1,2,3,4]

# Agregamos una nueva columna al dataframe
df["Value B"] = list_b
df

  Value A  Value B
0       a        1
1       b        2
2       c        3
3       d        4

Al utilizar .colums se puede visualizar los nombres de las columnas del *dataframe*.

In [4]:
df.columns

Index(['Value A', 'Value B'], dtype='object')

El siguiente código muestra la fila correspondiente al número que se entrega, mediante índices. En este caso como se coloca 0, muestra la primera fila del *dataframe*. Se recomienda probar con ambas líneas por separado y cambiar el valor.

In [5]:
# df[0]
df.iloc[0]

Value A    a
Value B    1
Name: 0, dtype: object

El siguiente código elimina las etiquetas especificadas de filas o columnas. Al escribir **df** se puede visualizar como quedó el *dataframe* luego de utilizar *drop*.

In [6]:
df = df.drop(0, axis = 0)
df

  Value A  Value B
1       b        2
2       c        3
3       d        4

A continuación se crean otras dos listas arbitrarias y se agregan al *dataframe*.

In [7]:
list_c = ["a", "a", "b"]
df["Value C"] = list_c
df

  Value A  Value B Value C
1       b        2       a
2       c        3       a
3       d        4       b

In [8]:
list_c = [1, 10, 5]
df["Value D"] = list_c
df

  Value A  Value B Value C  Value D
1       b        2       a        1
2       c        3       a       10
3       d        4       b        5

.groupby() se utiliza para dividir los datos en grupos según algunos criterios, en este caso es "Value C" y luego se utiliza .mean() para calcular la media.

In [9]:
df.groupby(by = "Value C").mean()

         Value B  Value D
Value C
a            2.5      5.5
b            4.0      5.0

## Ejemplo cargando un CSV

A continuación se define una url, se utiliza pd.read_csv(url) para obtener los datos del csv que se encuentran en la url definida. Lego se utiliza .drop() para eliminar las columnas con las etiquetas "0", "ID" y "Type". Finalmente se utiliza data para visualizar la tabla de datos obtenida.

In [10]:
url = "https://raw.githubusercontent.com/Exploratorio-DCC-PUC/Syllabus/master/Tareas/TG1/datos.csv"

data = pd.read_csv(url)
# data = pd.read_csv("datos.csv")
data = data.drop(columns=["Unnamed: 0", "ID", "Type"])
data

                                Title  Year  ...                 Language  Runtime
0                           Inception  2010  ...  English,Japanese,French    148.0
1                          The Matrix  1999  ...                  English    136.0
2              Avengers: Infinity War  2018  ...                  English    149.0
3                  Back to the Future  1985  ...                  English    116.0
4      The Good, the Bad and the Ugly  1966  ...                  Italian    161.0
...                               ...   ...  ...                      ...      ...
16739       The Ghosts of Buxley Hall  1980  ...                  English    120.0
16740                  The Poof Point  2001  ...                  English     90.0
16741           Sharks of Lost Island  2013  ...                  English      NaN
16742              Man Among Cheetahs  2017  ...                  English      NaN
16743                In Beaver Valley  1950  ...                  English     32.0

[16744 rows x 14 columns]

El código que se muestra a continuación permite visualizar las columnas "Title", "Year" y "IMDb".

In [11]:
data_acotada = pd.read_csv(url, usecols=["Title", "Year", "IMDb"])
data_acotada

                                Title  Year  IMDb
0                           Inception  2010   8.8
1                          The Matrix  1999   8.7
2              Avengers: Infinity War  2018   8.5
3                  Back to the Future  1985   8.5
4      The Good, the Bad and the Ugly  1966   8.8
...                               ...   ...   ...
16739       The Ghosts of Buxley Hall  1980   6.2
16740                  The Poof Point  2001   4.7
16741           Sharks of Lost Island  2013   5.7
16742              Man Among Cheetahs  2017   6.6
16743                In Beaver Valley  1950   NaN

[16744 rows x 3 columns]

Así se pueden ver los elementos de una columna en particular, en este caso se muestra con la columna "Title".

In [12]:
data["Title"]

0                             Inception
1                            The Matrix
2                Avengers: Infinity War
3                    Back to the Future
4        The Good, the Bad and the Ugly
                      ...
16739         The Ghosts of Buxley Hall
16740                    The Poof Point
16741             Sharks of Lost Island
16742                Man Among Cheetahs
16743                  In Beaver Valley
Name: Title, Length: 16744, dtype: object

El siguiente código muestra la fila correspondiente al número que se entrega, mediante índices. En este caso como se coloca 0, muestra la primera fila del *dataframe*.

In [13]:
# data[0]
data.iloc[0]

Title                                     Inception
Year                                           2010
Age                                             13+
IMDb                                            8.8
Rotten Tomatoes                                 87%
Netflix                                           1
Hulu                                              0
Prime Video                                       0
Disney+                                           0
Directors                         Christopher Nolan
Genres             Action,Adventure,Sci-Fi,Thriller
Country                United States,United Kingdom
Language                    English,Japanese,French
Runtime                                         148
Name: 0, dtype: object

Se utiliza time() para ver cuanto se demora en ejecutar dos códigos diferentes con la finalidad de ver que tanto más rápido es utilizar pandas.

In [14]:
t1 = time.time()
suma = data["Runtime"].sum()
tiempo_1 = (time.time() - t1)*1000
print("Se ha demorado {} milisegundos\nLa suma es: {}".format(tiempo_1, suma))

t2 = time.time()
suma = 0
for monto in data["Runtime"]:
  if not pd.isnull(monto):
    suma += monto
tiempo_2 = (time.time() - t2)*1000
print("Se ha demorado {} milisegundos\nLa suma es: {}".format(tiempo_2, suma))

print("-"*40)
print("Pandas fue {} veces más rápido".format(tiempo_2/tiempo_1))

Se ha demorado 0.9388923645019531 milisegundos
La suma es: 1508814.0
Se ha demorado 9.073019027709961 milisegundos
La suma es: 1508814.0
----------------------------------------
Pandas fue 9.663534789233113 veces más rápido

Pandas nos permite filtrar datos de la tabla según ciertas condiciones, al hacer esto retorna una serie de valores que pueden ser True, si el valor respectivo cumple con las condiciones o False en caso contrario.

Por ejemplo digamos que queremos ver que películas duran mas de 50 minutos, hacemos lo siguiente:

In [20]:
(data["Runtime"] > 50)

0         True
1         True
2         True
3         True
4         True
         ...
16739     True
16740     True
16741    False
16742    False
16743    False
Name: Runtime, Length: 16744, dtype: bool

Esto está muy bien, sin embargo no nos dice mucho.
Si queremos ver los **datos** de las películas que duran mas de 50 minutos, debemos poner ese código dentro de un "selector" de datos.

In [21]:
new_data = data[data["Runtime"]>50]
new_data

                                Title  Year  ...                 Language  Runtime
0                           Inception  2010  ...  English,Japanese,French    148.0
1                          The Matrix  1999  ...                  English    136.0
2              Avengers: Infinity War  2018  ...                  English    149.0
3                  Back to the Future  1985  ...                  English    116.0
4      The Good, the Bad and the Ugly  1966  ...                  Italian    161.0
...                               ...   ...  ...                      ...      ...
16734        Sultan And The Rock Star  1980  ...                  English     60.0
16737                 The Bears and I  1974  ...                  English     89.0
16738    Whispers: An Elephant's Tale  2000  ...                  English     72.0
16739       The Ghosts of Buxley Hall  1980  ...                  English    120.0
16740                  The Poof Point  2001  ...                  English     90.0

[15420 rows x 14 columns]

Lo cual sólo nos muestra los datos de las películas que cumplen con la condición.

Podemos también juntar varias de estas condiciones usando los operadores lógicos

& para AND

\| para OR

^ para XOR

~ para NOT

In [25]:
new_data = data[(data["Runtime"] > 50) & (data["Disney+"] == 1)]
# new_data = data[~(data["Runtime"] > 50) ^ (data["Disney+"] == 1)]
# new_data = data[(data["Runtime"] < 60) | (data["Runtime"] > 110)]
# new_data = data[data["Country"] == "United States"]
new_data

                              Title  Year  ...        Language  Runtime
95                 Saving Mr. Banks  2013  ...         English    125.0
103                             Amy  2015  ...         English     60.0
122                            Bolt  2008  ...         English     96.0
125       The Princess and the Frog  2009  ...  English,French     97.0
150                         Miracle  2004  ...         English    135.0
...                             ...   ...  ...             ...      ...
16734      Sultan And The Rock Star  1980  ...         English     60.0
16737               The Bears and I  1974  ...         English     89.0
16738  Whispers: An Elephant's Tale  2000  ...         English     72.0
16739     The Ghosts of Buxley Hall  1980  ...         English    120.0
16740                The Poof Point  2001  ...         English     90.0

[505 rows x 14 columns]

Finalmente, tenenmos estas últimas dos funciones que sirven para darnos los N valores mas grandes o mas pequeños de una columna específica.

In [19]:
top_10 = data.nlargest(10, "Runtime")
top_10
# bottom_10 = data.nsmallest(10, "Runtime")
# bottom_10

                              Title  ...  Runtime
13179                      Colorado  ...   1256.0
4405             Law of the Lawless  ...    750.0
15295           The Vatican Museums  ...    410.0
12475                      Scarlett  ...    360.0
14113              The Inner Circle  ...    360.0
13115          Carlos el terrorista  ...    334.0
13048           Custer's Last Stand  ...    328.0
6245                           Gone  ...    270.0
3861                           Dina  ...    265.0
5673   The Greatest Story Ever Told  ...    260.0

[10 rows x 14 columns]